{% macro renderSimpleItemProperty(title, simpleItem) %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    <div class="control-group attribute-row">
        <label class="control-label">{{ title }}</label>
        <div class="controls">
            <div class="control-label">
                {{ simpleItem|raw }}
            </div>
        </div>
    </div>
{% endmacro %}