{% extends 'OroUIBundle:actions:index.html.twig' %}

{% set gridName = 'candm_simpleitem-simpleitems-grid' %}
{% set pageTitle = 'clickandmortar.simpleitem.entity_plural_label'|trans %}

{% block navButtons %}
    <div class="btn-group">
        {{ UI.addButton({
            'path': path('candm_simpleitem_simpleitem_create'),
            'entity_label': 'clickandmortar.simpleitem.entity_label'|trans,
        }) }}
    </div>
{% endblock %}